@model BIA.Dashboard.Template.Models.EarningPayrollAdvice

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl" style="width: 150%">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel" style="align-content: center">Edit Earning Advice</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="EditEarningAdvice" asp-controller="Payroll" method="post" id="editEarningAdviceForm" enctype="multipart/form-data" role="form" data-ajax="true" data-ajax-update="#editEarningAdviceForm" data-ajax-method="POST" data-ajax-mode="replace">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PayrollAdviceId" name="payrollAdviceId" />
                <input type="hidden" asp-for="Status" name="Status" />
                <input type="hidden" asp-for="StatusDate" name="StatusDate" />

                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="row form-group m-1">
                                <div class="col-md-6">
                                    <p class="mt-0 mb-0"><label asp-for="Date" class="control-label"></label></p>
                                    <input asp-for="Date" class="form-control" id="Date" asp-format="{0:yyyy-MM-dd}" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <p class="mt-0 mb-0"><label asp-for="AdviceNumber" class="control-label"></label></p>
                                    <input asp-for="AdviceNumber" class="form-control" id="Date" />
                                    <span asp-validation-for="AdviceNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row form-group m-1">
                                <div class="col-md-6">
                                    <p class="mt-0 mb-0"><label asp-for="TransactionStartDate" class="control-label"></label></p>
                                    <input asp-for="TransactionStartDate" class="form-control" id="TransactionStartDate" asp-format="{0:yyyy-MM-dd}" />
                                    <span asp-validation-for="TransactionStartDate" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <p class="mt-0 mb-0"><label asp-for="TransactionEndDate" class="control-label"></label></p>
                                    <input asp-for="TransactionEndDate" class="form-control" id="TransactionEndDate" asp-format="{0:yyyy-MM-dd}" />
                                    <span asp-validation-for="TransactionEndDate" class="text-danger"></span>
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row form-group m-1">
                                <div class="col-md-6">
                                    <p class="mt-0 mb-0"><label asp-for="PersonnelInformation" class="control-label"></label></p>
                                    <select asp-for="PersonnelInformationId" id="PersonnelInformationId" name="personnelInformationId" class="form-control" asp-items="ViewBag.PersonnelId" onchange="getIcNumber()">
                                        <option value="">Select Personnel</option>
                                    </select>
                                    <span asp-validation-for="PersonnelInformationId" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <p class="mt-0 mb-0"><label asp-for="ICNumber" class="control-label"></label></p>
                                    <input asp-for="ICNumber" class="form-control" id="ICNumber" readonly="readonly" />
                                    <span asp-validation-for="ICNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <hr class="mt-3 mb-3">
                            <div class="row form-group m-1">
                                <div class="col-md-12">
                                    <p class="mt-0 mb-0"><label asp-for="Remarks" class="control-label"></label></p>
                                    <input asp-for="Remarks" class="form-control" id="Remarks" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row form-group m-1">
                                <div class="col-md-12">
                                    <p class="mt-0 mb-0"><label class="control-label">Ledger</label></p>
                                    <select asp-for="PayrollLedgerId" name="PayrollLedgerId" class="form-control" asp-items="ViewBag.PayrollId">
                                        <option value="">Select Ledger</option>
                                    </select>
                                    <span asp-validation-for="PayrollLedgerId" class="text-danger"></span>
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row form-group m-1">
                                <div class="col-md-6">
                                    <p class="mt-0 mb-0"><label asp-for="Earning" class="control-label"></label></p>
                                    <input asp-for="Earning" class="form-control" id="Date" />
                                    <span asp-validation-for="Earning" class="text-danger"></span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                    <input class="btn btn-default" type="submit" value="Confirm" />
                    @*<a href="#" class="btn btn-default" onclick="AddAdvice()">Confirm</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
        });

    </script>
}

