@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
<link rel="stylesheet" href="~/vendor/Datatables/dataTables.bootstrap4.min.css">

@{
    ViewData["Title"] = "Bank Account Advice";
}

@Html.Partial("_PayrollNav")
<div class="row">
    <div class="col">
        <div class="card-header border-0">
            <h1 class="mb-5 text-center"></h1>

            <a href="#" id="addNewDeductionAdvice" class="btn btn-success btn-md" style="width:auto">Add New Deduction Advice</a>
            <div class="table-responsive" style="margin-top:20px;overflow:hidden">
                <table class="table align-items-center table-flush" id="adviceTable">
                    <thead class="thead-flush">
                        <tr>
                            <th scope="col" width="15%">Advice Number</th>
                            <th scope="col" width="15%">Date</th>
                            <th scope="col" width="15%">IC Number</th>
                            <th scope="col" width="15%">Name</th>
                            <th scope="col" width="15%">Remarks</th>
                            <th scope="col" width="15%">Status</th>
                            <th>Deduction</th>
                            <th></th>


                        </tr>
                    </thead>

                </table>
            </div>
        </div>


    </div>
</div>
<div id="viewDiv">
</div>
<div id="addDiv">
</div>
<div id="editDiv">
</div>
<div id="cancelDiv">
</div>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Cancel Record</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Cancel record, are you sure?</h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">No</a>
                <a href="#" class="btn btn-warning" onclick="ReplacementRecord()">Yes</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="replacementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Replacement</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Replacement?</h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal" onclick="CancelAdviceNoReplacement()">No</a>
                <a href="#" class="btn btn-warning" onclick="CancelAdviceReplacement()">Yes</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="spinnerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </div>
</div>
<input type="hidden" id="hiddenAdviceId" />
<input type="hidden" id="ddeaFlagId" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/Datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/Datatables/dataTables.bootstrap4.min.js"></script>



    <script type="text/javascript">
        var dataTable;

        $(document).ready(function () {

            dataTable = $('#adviceTable').DataTable({
                "deferRender": false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Payroll/DeductionAdviceData",
                    "type": "GET"
                },
                "initComplete": function (settings, json) {
                    $('#adviceTable_paginate .previous a').html(`<i class="fas fa-angle-left"></i>`);
                    $('#adviceTable_paginate .next a').html(`<i class="fas fa-angle-right"></i>`);

                },
                "drawCallback": function (settings) {
                    $('#adviceTable_paginate .previous a').html(`<i class="fas fa-angle-left"></i>`);
                    $('#adviceTable_paginate .next a').html(`<i class="fas fa-angle-right"></i>`);

                },

                "info": false,
                "searching": true,

                "paging": true,


                "columns": [
                    { data: 'adviceNumber', name: "adviceNumber" },
                    { data: "formattedDate", name: "date" },
                    { data: "icNumber", name: "icNumber" },
                    { data: "name", name: "name" },
                    { data: "remarks", name: "remarks" },
                    { data: "status", name: "status" },
                    { data: "deduction", name: "deduction" },
                    { data: "action", name: "action" }
                ],
                "order": [[0, "desc"]],


            });

        });

        var ConfirmCancel = function (PayrollAdviceId) {
            $("#hiddenAdviceId").val(PayrollAdviceId);
            $("#cancelModal").modal('show');
        }

        var ReplacementRecord = function () {
            $("#cancelModal").modal('hide');
            $("#replacementModal").modal('show');
        }

        $('#addNewDeductionAdvice').click(function () {
            var addUrl = '@Url.Action("AddDeductionAdvice", "Payroll")';
            $('#addDiv').load(addUrl, function () {
                $("#addModal").modal('toggle');
                $.validator.unobtrusive.parse("#addDeductionnAdvice");
                var d = new Date();
                startDate = d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-01';
                document.getElementById("TransactionStartDate").value = startDate;
            });
        });

        var ConfirmEdit = function (PayrollAdviceId) {
            var editUrl = '/Payroll/EditDeductionAdvice/' + PayrollAdviceId;
            $('#editDiv').load(editUrl, function () {
                $("#editModal").modal('toggle');
                $.validator.unobtrusive.parse("#editDeductionAdviceForm");
            });
        }

        function getIcNumber() {
            //alert(id.value);
            let personalInfoId = $("#PersonnelInformationId").val();
            if (Number(personalInfoId) > 0) {
                $.ajax({
                    url: "/Payroll/GetIcNumber",
                    //data: { "id": id.value },
                    type: "GET",
                    dataType: "Json",
                    data: { id: personalInfoId },
                    contentType: "application/json",
                    success: function (icNumber) {
                        document.getElementById("ICNumber").value = (icNumber);
                    },
                });
            }
            else {
                document.getElementById("ICNumber").value = '';
            }

        }

        var CancelAdviceNoReplacement = function () {
            var payrollId = document.getElementById('hiddenAdviceId').value;
            $.ajax({
                beforeSend: function (request) {
                    $("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/CancelDeductionAdviceNoReplacement',
                data: {
                    id: payrollId
                },
                success: function () {
                    $("#spinnerModal").modal("hide");
                    window.location = '@Url.Action("DeductionAdvice")';
                }
            })
        }

        var CancelAdviceReplacement = function () {
            var payrollId = document.getElementById('hiddenAdviceId').value;
            $.ajax({
                beforeSend: function (request) {
                    //$("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/CancelDeductionAdviceNoReplacement',
                data: {
                    id: payrollId
                },
                success: function () {
                    $("#replacementModal").modal('hide');
                    var loadUrl = '/Payroll/CancelDeductionAdviceReplacement/' + payrollId;
                    $('#addDiv').load(loadUrl, function () {
                        $("#addModal").modal('toggle');
                        $.validator.unobtrusive.parse("#addDeductionnAdvice");
                        var d = new Date();
                        startDate = d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-01';
                        document.getElementById("TransactionStartDate").value = startDate;
                    });
                    //$("#spinnerModal").modal("hide");
                }
            })
        }

    </script>
}
