@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager

    @{
        ViewData["Title"] = "Index";
    }
    <link rel="stylesheet" href="~/vendor/Datatables/dataTables.bootstrap4.min.css">

    <nav class="navbar navbar-horizontal navbar-expand-md navbar-dark bg-default rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-close">
                        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="navbar-nav nav-fill w-100">
                <a class="nav-item nav-link" href="@Url.Action("Index")">Directory</a>
                <a class="nav-item nav-link" asp-action="Profile" asp-route-id=@userManager.GetUserId(User)>Personnel Information</a>
                @if ((await AuthorizationService.AuthorizeAsync(User, "PersonnelInformationHR")).Succeeded)
                {
                    <a class="nav-item nav-link" asp-action="Verify">HR Verification</a>
                    <a class="nav-item nav-link" asp-action="AuditLog">Audit Log</a>
                }
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="card-header border-0">
                <h1 class="mb-5 text-center">Directory</h1>
                @if ((await AuthorizationService.AuthorizeAsync(User, "PersonnelInformationHR")).Succeeded)
                {
                    <button class="btn btn-success btn-md" onclick="window.location='@Url.Action("Create", "PersonnelInformations")'">Add</button>
                }
            <div class="table-responsive" style="margin-top:20px;overflow:hidden">
                <table class="table align-items-center table-flush" id="directoryTable">
                    <thead class="thead-flush">
                        <tr>
                            <th scope="col" width="20%">Name</th>
                            <th scope="col" width="20%">Extension Number</th>
                            <th scope="col" width="20%">Position</th>
                            <th scope="col" width="20%">Division</th>
                            <th scope="col" width="15%"></th>
                        </tr>
                    </thead>

                </table>

            </div>
            </div>

        </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Delete Personnel</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to remove this personnel?</h4>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-warning" onclick="DeletePersonnel()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="spinnerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
    <input type="hidden" id="hiddenPersonnelId" />
    @section Scripts {
        <script src="~/vendor/Datatables/jquery.dataTables.min.js"></script>
        <script src="~/vendor/Datatables/dataTables.bootstrap4.min.js"></script>

        <script type="text/javascript">
            var dataTable;

            $(document).ready(function () {

                dataTable = $('#directoryTable').DataTable({
                    "deferRender": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/PersonnelInformations/GetDirectoryData",
                        "type": "GET"
                    },
                    "initComplete": function (settings, json) {
                        $('#directoryTable_paginate .previous a').html(`<i class="fas fa-angle-left"></i>`);
                        $('#directoryTable_paginate .next a').html(`<i class="fas fa-angle-right"></i>`);

                    },
                    "drawCallback": function (settings) {
                        $('#directoryTable_paginate .previous a').html(`<i class="fas fa-angle-left"></i>`);
                        $('#directoryTable_paginate .next a').html(`<i class="fas fa-angle-right"></i>`);

                    },

                    "info": false,
                    "searching": true,

                    "paging": true,


                    "columns": [
                        { data: 'name', name: "name" },
                        { data: "extensionNumber", name: "extensionNumber" },
                        { data: "position", name: "position" },
                        { data: "division", name: "division" },
                        { data: "action", name:"action" }
                    ],
                    "order": [[0, "desc"]],


                });

            });

            var ConfirmDelete = function (PersonnelId) {
                $("#hiddenPersonnelId").val(PersonnelId);
                $("#myModal").modal('show');
            }

            var DeletePersonnel = function () {
                var personnelId = $("#hiddenPersonnelId").val();
                //alert(personnelId)
                $.ajax({
                    beforeSend: function (request) {
                        $("#myModal").modal("hide");
                        $("#spinnerModal").modal("show");
                        request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                    },
                    type: 'POST',
                    url: '/PersonnelInformations/Delete',
                    data: {
                        id: personnelId
                    },
                    success: function () {
                        $("#spinnerModal").modal("hide");
                        $("#row_" + personnelId).remove();
                        window.location.reload();
                    }
                })
            }
        </script>
    }